.mainContainer {
  height: 100vh;
  padding: 20px 50px;
  box-sizing: border-box;
  display: flex;
  // background-image: url(../image/ss.png);
  // /* Center and scale the image nicely */
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
}
